<div id="{%=name%}-Container">
	<div id="{%=name%}-Loading" style="text-align: center;">
		<h1 style="margin-top: 15%; color: #666;">{%=title%} Now Loading...</h1>
	</div>

	<div id="{%=name%}-DashboardMain" class="container"></div>

</div><!-- /{%=name%}-Container -->
