<!DOCTYPE html>
<html>
<head>
	<title>App Center</title>
</head>
<body>
<form method="post" action="/login">
	<label for="jwt">Enter JWT:</label><br/>
	<input id="jwt" name="jwt" value="{{jwt}}"><br/>
	<input type="submit">
</form>
</body>
</html>
